@import url('https://fonts.cdnfonts.com/css/genty-demo');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Genty Demo', sans-serif;
    background-color: #0052FF;
}

nav {
    padding: 1rem;
}

nav ul {
    font-size: 30px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease;
}




.mainsection {
    margin-top: 3%;
    display: flex;
    width: 100%;

    /* Full height of the viewport */
}

.section {
    flex: 1;
    /* Each section takes up 50% of the container */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.left-section img{
    width: 600px;
    margin-left: 40%;
}

.right-section img{
    width: 600px;
    margin-right: 40%;
}

.right-section h1{
    font-size: 120px;
    color: white;
}

.right-section h2{
    margin-left: 6%;
    width: 50%;
    color: white;
}

.right-section h3{
    margin-top: 2%;
    font-size: 23px;
    margin-left: 15%;
    width: 50%;
    color: white;
}

.right-section .socials{
    margin-top: 2%;
    margin-left: 18%;

}

.right-section a{
    text-decoration: none;

}



.left-section h1{
    margin-left: 20%;
    font-size: 90px;
    color: white;
}

.left-section h2{
    margin-left: 6%;
    width: 80%;
    color: white;
}

.left-section h3{
    margin-top: 2%;
    font-size: 23px;
    margin-left: 6%;
    width: 100%;
    color: white;
}

.left-section .socials{
    margin-top: 2%;
    margin-left: 10%;

}

.left-section a{
    text-decoration: none;
}


.left-section .information{
    margin-left: 40%;
}

.left-section a{
    margin-left: 10%;
    text-decoration:underline;
}


.right-section .information2 {
    font-size: 20px;
    color: white;
    margin-left: -40%;
}

.right-section .information2 h2{
    font-size: 30px;
    width: 100%;
    color: white;
}

.right-section h2{
    margin-left: 15%;
    width: 50%;
    color: white;
}